@charset "UTF-8";

@import "../_vars.scss";
@import "../_setting.scss";
@import "../_placeHolder.scss";


.mainBanner{
    &.mainContact{
        background-color: #E5E5E5;
        background-image: url("/public/images/contentBox/entry/contact_mainImg_pc.png");
        background-size: calc(100% + 54px);
        background-position: -34px -87px;

        @include xs{
            background-image: url("/public/images/contentBox/flow/flow_mainImg_sp.png");
            background-position: top center;
            background-size: 100%;
        }

        .item_person_icon{
            &.icon-person02 {
                top: 18px;
                right: -22px;

                @include xs{
                    top: -8px;
                    right: -21px;
                }
            }
        }

        .bannerContent{

            @include xs{
                padding-top: 84px;
                padding-bottom: 95px;
            }

            .headingBanner{
                &:after{
                    content: "contact";
                    width: 100%;
                    text-align: center;
                }
            }

            .heading-main{
                .ttl-en{
                    padding-right: 29px;

                    @include xs{
                        padding-right: 0;
                    }
                }
            }

        }
    }
}


#entry{

    #entryForm{
        .form01{
            p.open{
                background-image: unset;
            }

            p.close{
                background-image: unset;
            }

            section{
                margin-bottom: 80px;

                &.free-entry-field{
                    margin-bottom: 48px;
                }

                @include xs{
                    margin-bottom: 40px;
                }
            }

            input{
                background: #fff;
            }

            select{
                background-color: #fff;
            }

            textarea{
                position: relative;
                background: #fff;
                height: 300px;
                border-radius: 8px;
                border: 0;
                padding: 24px;
                font-size: 14px;
                line-height: 32px;
                color: #242424;
                font-weight: 400;
                width: 100%;
                letter-spacing: 1px;
            }

            .note-textarea{
                font-size: 16px;
                line-height: 24px;
                display: block;
                margin-top: 26px;
                letter-spacing: 1px;
            }

            aside[class$=Btns]{
                .rule_kojin_field{
                    .sty_checkbox{
                        .checkbox-label.agree{
                            &:before{
                                content: "";
                                display: inline-block;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: -40px;
                                width: 24px;
                                height: 24px;
                                margin: auto;
                                border-radius: 4px;
                                background: #fff;
                                border: 1px solid #0D0D0D;

                                @include xs{
                                    top: 20px;
                                }
                            }

                            &:after{
                                content: "";
                                display: inline-block;
                                position: absolute;
                                top: -4px;
                                bottom: 0;
                                left: -35px;
                                width: 14px;
                                height: 8px;
                                margin: auto;
                                transform: rotate(-45deg) scale(.5);
                                border-bottom: 3px solid #fff;
                                border-left: 3px solid #fff;
                                opacity: 0;

                                @include xs{
                                    top: 15px;
                                }
                            }

                            &.is-checked{
                                &:after{
                                    transform: rotate(-45deg) scale(1);
                                    opacity: 1;
                                }

                                &:before{
                                    background: #0D0D0D!important;
                                }
                            }
                        }

                    }
                }
            }
        }
    }

    .contact-description{
        font-size: 18px;
        line-height: 32px;
        color: #242424;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
        padding-top: 42px;
        padding-bottom: 98px;

        @include xs{
            padding-top: 30px;
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 39px;
        }

        .subTitle{
            padding-right: 10px;
            letter-spacing: 1.5px;

            @include xs{
                padding-right: 0;

                .txt{
                    display: none;
                }
            }

            .tel{
                display: inline-block;
                position: relative;
                font-size: 22px;
                color: #1A1A1A;
                font-family: "brandon-grotesque", sans-serif;
                padding-left: 30px;
                letter-spacing: 0;
                z-index: 2;

                &:before{
                    content: "";
                    position: absolute;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath id='Path_8203' data-name='Path 8203' d='M4.217,5.492c-.151.151-.207.614.008,1.31A7.816,7.816,0,0,0,6.183,9.817,7.816,7.816,0,0,0,9.2,11.775c.7.214,1.16.158,1.311.008l1.02-1.02a1.381,1.381,0,0,1,2.075-.228l1.442.918q1.756,1.117.284,2.587l-.889.889c-2.172,2.172-6.925.939-10.616-2.752S-1.1,3.732,1.071,1.56L1.96.671Q3.432-.8,4.547.955L5.465,2.4a1.381,1.381,0,0,1-.228,2.075Z' transform='translate(0 0)' fill='%231a1a1a'/%3E%3C/svg%3E%0A");
                    width: 16px;
                    height: 16px;
                    background-size: 100%;
                    top: 8px;
                    left: 5px;
                }

                &:after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 15px;
                    background: #FFF07B;
                    bottom: 4px;
                    right: 0;
                    z-index: -1;
                }

                @include xs{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 60px;
                    border: 2px solid #CECECE;
                    border-radius: 60px;
                    width: 248px;
                    margin: 24px auto 0;
                    padding-left: 0;
                    font-size: 20px;
                    line-height: 30px;
                    padding-right: 2px;
                    letter-spacing: 0.2px;
                    padding-bottom: 5px;

                    &:before{
                        position: relative;
                        top: 0;
                        left: 0;
                        margin-right: 8px;
                        width: 14px;
                        height: 14px;
                    }

                    &:after{
                        height: 8px;
                        width: 150px;
                        right: unset;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: 20px;
                    }
                }
            }
        }
    }

    .mod_jobDetailJob{
        .toggleSwitchApply {
            background: #1B7CC4;
            display: flex;
            align-items: center;
            height: 116px;
            border-radius: 100px;
            font-size: 32px;
            line-height: 40px;
            font-family: "corporate-logo-ver2", sans-serif;
            padding-left: 48px;
            color: #fff;
            position: relative;
            margin-bottom: 0;
            letter-spacing: 2px;

            @include xs{
                height: 60px;
                font-size: 20px;
                line-height: 30px;
                padding-left: 24px;
            }

            &:before{
                display: none;
            }

            &.close{
                .btn-toggle:after{
                    transform: rotate(0deg);
                    opacity: 1;
                }
            }

            .btn-toggle{
                position: absolute;
                width: 32px;
                height: 32px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                background: #0D0D0D;
                border-radius: 50%;
                top: 50%;
                right: 44px;
                transform: translateY(-50%);

                &:before{
                    content: "";
                    position: absolute;
                    width: 12px;
                    height: 4px;
                    border-radius: 1px;
                    background: #fff;
                    transition: 0.3s;
                }

                &:after{
                    content: "";
                    position: absolute;
                    height: 12px;
                    width: 4px;
                    border-radius: 1px;
                    background: #fff;
                    transform: rotate(90deg);
                    opacity: 0;
                    transition: 0.3s;
                }

                @include xs{
                    width: 20px;
                    height: 20px;
                    right: 20px;

                    &:before{
                        width: 7.5px;
                        height: 2.5px;
                    }

                    &:after{
                        height: 7.5px;
                        width: 2.5px;
                    }
                }
            }

            &.text-yellow{
                background: #EBDD2E;
                color: #0D0D0D;
            }

            &.text-black{
                background: #0D0D0D;
                color: #fff;

                .btn-toggle{
                    background: #FFFFFF;

                    &:before,&:after{
                        background: #0D0D0D;
                    }
                }
            }

            &.text-gray{
                background: #888888;
                color: #fff;

                .btn-toggle{
                    background: #FFFFFF;

                    &:before,&:after{
                        background: #0D0D0D;
                    }
                }
            }
        }

    }

    #wrapJobDetail {
        .inner {
            form {

                .body{
                    background: #F2F2F2 !important;
                    padding: 133px 64px 45px;
                    border-radius: 40px;
                    margin-top: -69px;

                    @include xs{
                        padding: 62px 16px 55px;
                        border-radius: 20px;
                        margin-top: -30px;
                    }
                }

                table {
                    background: #F2F2F2 !important;
                    padding: 133px 64px 45px;
                    border-radius: 40px;
                    margin-top: -69px;

                    @include xs{
                        padding: 62px 16px 55px;
                        border-radius: 20px;
                        margin-top: -30px;
                    }

                    tr {
                        background: #F2F2F2 !important;
                        display: flex;
                        flex-wrap: wrap;
                        border-bottom: 2px solid #FFFFFF;
                        padding: 0 0 24px;
                        margin-bottom: 24px;

                        &:last-child{
                            margin-bottom: 0;
                            border-bottom: 0;
                            padding-bottom: 0;
                        }

                        td{
                            width: calc(100% - 228px);
                            padding-left: 80px;
                            column-gap: 57px;
                            padding-top: 0;
                            padding-bottom: 0;
                            padding-right: 0;

                            @include xs{
                                width: 100%;
                                padding: 0;
                                column-gap: 0;
                                flex-wrap: wrap;
                            }

                            .fields{
                                width: 50%;
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                padding: 0;
                                margin-bottom: 0px;

                                &:last-child{
                                    margin-bottom: 0;
                                }

                                label{
                                    width: 53px;
                                    padding: 0;
                                    min-width: auto;
                                    font-size: 18px;
                                    line-height: 32px;
                                    color: #242424;
                                    font-weight: bold;

                                    &.text-align{
                                        text-align: center;
                                    }
                                }

                                input{
                                    width: calc(100% - 53px) !important;

                                    &#mailAddress{
                                        width: 100% !important;
                                    }
                                }

                                @include xs{
                                    width: 100%;
                                    margin-right: 0 !important;
                                    margin-bottom: 16px;

                                    &:last-child{
                                        margin-bottom: 0;
                                    }

                                    label{
                                        font-size: 16px;
                                        line-height: 24px;
                                        width: 48px;
                                        text-align: left;

                                        &.text-align{
                                            text-align: left;
                                        }
                                    }

                                    input{
                                        width: calc(100% - 48px) !important;

                                        &#mailAddress{
                                            width: 100% !important;
                                        }
                                    }
                                }
                            }

                            select{
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.314' height='11.314' viewBox='0 0 11.314 11.314'%3E%3Cpath id='Union_34' data-name='Union 34' d='M-1411.3-33a1,1,0,0,1-1-1v-4.6h-4.6a1,1,0,0,1-1-1V-40a1,1,0,0,1,1-1h6a1,1,0,0,1,1,1v6a1,1,0,0,1-1,1Z' transform='translate(-1020.284 979.272) rotate(135)' fill='%23242424'/%3E%3C/svg%3E%0A");
                                background-size: 12px 12px;

                            }

                            label{
                                font-size: 18px;
                                line-height: 32px;
                                color: #242424;
                                font-weight: bold;
                                letter-spacing: 1px;

                                @include xs{
                                    font-size: 16px;
                                    line-height: 24px;
                                }
                            }

                        }

                        &.gender{
                            td{
                                select{
                                    width: 300px !important;

                                    @include xs{
                                        max-width: 200px;
                                    }
                                }
                            }
                        }

                        &.nameRuby{
                            @include xs{
                                td{
                                    .fields{
                                        label{
                                            width: 65px;
                                        }

                                        input{
                                            width: calc(100% - 65px) !important;
                                        }
                                    }
                                }
                            }
                        }

                        &.address{
                            td{
                                dt{
                                    width: 90px;
                                    min-width: auto;

                                    @include xs{
                                        width: 82px;
                                    }
                                }

                                dd{
                                    width: 300px;

                                    @include xs{
                                        width: calc(100% - 82px);
                                    }

                                    select, input{
                                        width: 100% !important;
                                    }
                                }

                                .fields{
                                    width: 100%;
                                }

                                label{
                                    padding-top: 14px;
                                    min-width: 100%;

                                    @include xs{
                                        font-size: 16px;
                                        line-height: 24px;
                                        padding-top: 8px;
                                    }
                                }

                                .multi-item{
                                    margin-bottom: 25px;

                                    @include xs{
                                        margin-bottom: 15px;
                                    }

                                    &:last-child{
                                        margin-bottom: 0;
                                    }

                                    dd{
                                        margin-bottom: 0;
                                    }
                                }

                            }

                            .textBox{
                                width: calc(100% - 390px);
                                padding-left: 27px;

                                @include xs{
                                    display: none;
                                }

                                i{
                                    background: #888888;
                                    margin: 0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    height: 60px;
                                    width: 100%;
                                    max-width: 260px;
                                    border-radius: 8px;
                                    font-size: 18px;
                                    line-height: 32px;
                                    font-weight: bold;
                                    color: #fff;
                                }
                            }
                        }

                        &.telNumber{
                            td{
                                input{
                                    width: 100% !important;
                                    max-width: 300px;

                                    @include xs{
                                        max-width: 100%;
                                    }
                                }
                            }
                        }

                        &.mailAddress{
                            td{
                                .fields{
                                    width: 100%;
                                }

                                input{
                                    width: 100% !important;
                                }
                            }
                        }

                        th{
                            width: 228px;
                            padding-top: 14px;
                            position: relative;
                            font-size: 18px;
                            line-height: 32px;
                            letter-spacing: 1px;
                            padding-bottom: 0;

                            i.required{
                                position: static;

                                &:after{
                                    left: unset;
                                    right: 0;
                                    top: 14px;

                                    @include xs{
                                        top: -2px;
                                    }
                                }
                            }

                            @include xs{
                                width: 100%;
                                font-size: 18px;
                                line-height: 30px;
                                padding: 0;
                                margin: 0 0 23px;
                                display: flex;
                                align-items: center;
                            }

                        }

                        &.birthday{
                            td{
                                display: flex;
                                flex-wrap: wrap;
                                column-gap: 0;

                                .fields{
                                    width: 234px;
                                    display: flex;
                                    flex-wrap: wrap;
                                    padding-top: 0;

                                    select{
                                        width: 160px !important;
                                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.314' height='11.314' viewBox='0 0 11.314 11.314'%3E%3Cpath id='Union_34' data-name='Union 34' d='M-1411.3-33a1,1,0,0,1-1-1v-4.6h-4.6a1,1,0,0,1-1-1V-40a1,1,0,0,1,1-1h6a1,1,0,0,1,1,1v6a1,1,0,0,1-1,1Z' transform='translate(-1020.284 979.272) rotate(135)' fill='%23242424'/%3E%3C/svg%3E%0A");
                                        background-size: 12px 12px;
                                    }

                                    @include xs{
                                        width: 28.75%;
                                        margin-bottom: 0;

                                        &:nth-child(1){
                                            width: 42.5%;
                                        }

                                        label{
                                            width: 28px;
                                            text-align: center !important;
                                        }

                                        select{
                                            width: calc(100% - 28px) !important;
                                        }
                                    }
                                }
                            }
                        }

                        &.occupation{
                            td{
                                .multi-item{
                                    margin-bottom: 24px;
                                    column-gap: 40px;

                                    @include xs{
                                        column-gap: 0;
                                        flex-wrap: wrap;
                                        margin-bottom: 16px;
                                    }

                                    .fields{
                                        max-width: 300px;
                                        @include xs{
                                            max-width: 100%;
                                        }
                                    }

                                    &:last-child{
                                        margin-bottom: 0;
                                    }

                                    select{
                                        margin-bottom: 0;
                                        width: 100%;
                                    }
                                }
                            }
                        }

                        &.industry{
                            td{
                                >div{
                                    margin-bottom: 24px;

                                    &:last-child{
                                        margin-bottom: 0;
                                    }
                                }

                                select{
                                    max-width: 300px;

                                    @include xs{
                                        max-width: 100%;
                                        width: 100%;
                                    }
                                }
                            }
                        }

                        &.management-experience{
                            td{
                                align-items: center;
                                display: flex !important;
                                flex-wrap: wrap;
                                justify-content: flex-start;
                                column-gap: 0;
                                padding-top: 7px;
                                padding-bottom: 7px;

                                input{
                                    width: 30px !important;
                                    height: 30px;
                                    margin: 0;
                                    opacity: 1;

                                    @include xs{
                                        width: 24px !important;
                                        height: 24px;
                                    }
                                }

                                @include xs{
                                    label{
                                        font-size: 16px;
                                        line-height: 24px;
                                        background: transparent;
                                        color: #242424;
                                        border: 0;
                                        padding: 0;
                                        width: 50px;
                                        margin-right: 40px;
                                    }
                                }
                            }
                        }

                        &.management-number{
                            td{
                                select{
                                    max-width: 300px;
                                }
                            }
                        }

                        &.workExperience{
                            .item-workExperience{
                                display: flex;
                                flex-wrap: wrap;
                                margin-bottom: 24px;

                                &:nth-child(4){
                                    margin-bottom: 34px;
                                }

                                &:last-child{
                                    margin-bottom: 0;
                                }

                                .item-title{
                                    width: 148px;
                                    text-align: right;

                                    label{
                                        padding: 14px 34px 0 0;
                                        width: 100%;
                                        display: block;
                                        min-width: auto;
                                    }
                                }

                                .itemInfo{
                                    width: calc(100% - 148px);

                                    .multi-item{
                                        column-gap: 20px;

                                        @include xs{
                                            column-gap: 0;
                                        }
                                    }

                                    .fields{
                                        width: 213px;
                                        display: flex;

                                        select{
                                            width: 100% !important;
                                            max-width: 160px;
                                        }

                                        label{
                                            text-align: center;
                                        }
                                    }

                                    #employmentStatusA{
                                        max-width: 300px;
                                    }
                                }

                                @include xs{

                                    .item-title{
                                        width: 82px;
                                        display: flex;
                                        align-items: center;

                                        label{
                                            padding: 0;
                                            text-align: left;
                                        }
                                    }

                                    .itemInfo{
                                        width: calc(100% - 82px);

                                    }


                                    &:nth-child(1){
                                        .item-title{
                                            width: 65px;
                                        }

                                        .itemInfo{
                                            width: calc(100% - 65px);
                                        }
                                    }

                                    &:nth-child(2),
                                    &:nth-child(3){
                                        .itemInfo{
                                            .fields:nth-child(1){
                                                width: 60%;
                                                margin-bottom: 0;
                                            }
                                            .fields:nth-child(2){
                                                width: 40%;
                                            }

                                            label{
                                                width: 30px;
                                            }

                                            select{
                                                width: calc(100% - 30px) !important;
                                            }
                                        }
                                    }

                                    &:last-child{
                                        .item-title{
                                            width: 100%;
                                            margin-bottom: 16px;
                                        }

                                        .itemInfo{
                                            width: 100%;
                                        }
                                    }

                                }

                            }

                            .note-textarea{
                                margin-top: 18px;
                            }

                            .workExperienceBody{
                                .open{
                                    border-bottom: 0;
                                }
                            }
                        }




                    }

                    &.carrier-sheet{

                    }

                }
            }
        }
    }

}



#entryConfirm{
    .mainBanner{
        .inner{
            background: transparent;
            padding-top: 0;
        }
    }
}

#apply{
    #applyForm{
        .inner{
            padding: 0;
        }

        .form01{

            p.open{
                background-image: url("/public/images/arrow/bg_mod_apply_h1_arrowDown.png");
                background-repeat: no-repeat;
                background-position: 10px center;
            }

            p.close{
                background-image: url("/public/images/arrow/bg_mod_apply_h1_arrowRight.png");
                background-repeat: no-repeat;
                background-position: 10px center;
            }

            select{
                background-image: url("/public/images/arrow/ico_link_arrow_down.png");
                background-repeat: no-repeat;
                background-position: center right;
                padding: 5px 32px 5px 5px;
                background-size: 25px 36px;

                @include xs{
                    padding: 5px 35px 5px 5px;
                    background-color: rgba(169, 166, 188, 0.15);
                    height: 34px;
                    border-radius: 0;
                    box-shadow: none;
                    border: 1px solid #BBBBBB;
                    font-size: 1rem;
                    clear: both;
                    display: block;
                    float: left;
                    width: 100%;
                }
            }
            textarea{
                position: relative;
                background: white;
                outline: 0 none black;
                padding: 10px;
                color: #666666;
                width: 100%;
                height: 10rem;
                border: 1px solid #d9d9d9;
                margin-right: 5px;
                margin-bottom: 10px;
                display: block;
                resize: vertical;
                border-radius: 0;
            }

            .note-textarea{
                font-size: 80%;
            }

            @include xs{
                aside[class$=Btns] .rule_kojin_field .sty_checkbox .checkbox-label.agree{
                    left: unset;
                }

                input{
                    background: rgba(169, 166, 188, 0.15);
                    height: 34px;
                    border-radius: 0;
                    box-shadow: none;
                    border: 1px solid #BBBBBB;
                    font-size: 1rem;
                    clear: both;
                }
            }

        }
    }

}
